
.tomato{
  background-color: tomato;
  text-align: center;
  width: 300px;
  margin-left:500px ;
  padding: 50px;
 margin-bottom: 20px; 
  
}
.silver{
  background-color: silver;
   text-align: center;
  width: 300px;
  margin-left:500px ;
  padding: 50px;
  margin-bottom: 20px;
}


